services:
  php:
    build:
      context: ./infrastructure/docker/php
      dockerfile: Dockerfile
    container_name: php-fpm
    volumes:
      - ./:/var/www/html
    environment:
      DB_HOST: db
      DB_NAME: tasks_db
      DB_USER: user
      DB_PASS: userpass
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
      - ./infrastructure/docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php

  db:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: tasks_db
      MYSQL_USER: user
      MYSQL_PASSWORD: userpass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./infrastructure/database/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

volumes:
  db_data: